{% extends 'base.html' %}
{% load course_tags %}
{% load static %}
 {% block title %}
  EduNexus-{{course.title}}
  {% endblock title %}
{% block content %}
      <!-- PAGE HEADER
    ================================================== -->
    <div class="position-relative pt-8 pt-xl-8">
        <div class="position-absolute top-0 right-0 left-0 overlay overlay-custom-left d-none d-xl-block">
            <img class="img-fluid" src="{% static 'assets/img/covers/cover-19.jpg' %}" alt="...">
        </div>
    </div>

    <!-- COURSE
    ================================================== -->
    <div class="container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <div class="course-single-white">
                    <h1 class="me-xl-14 text-white">
                        {{course.title|truncatechars:32}} 
                    </h1>
                    <p class="me-xl-13 mb-5 text-white"> {{course.short_description|truncatechars:150}} </p>

                    <a href="#" class="badge badge-lg badge-rounded-circle badge-secondary font-size-base badge-float badge-float-inside top-0 text-white">
                        <i class="far fa-heart"></i>
                    </a>
                </div>

                <!-- COURSE META
                ================================================== -->
                {% include 'course/course-detail/course-meta.html' with course=course %}

                <!-- COURSE INFO TAB
                ================================================== -->
                <ul id="pills-tab" class="nav course-tab-v1 border-bottom h4 my-9 pt-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-overview-tab" data-bs-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-curriculum-tab" data-bs-toggle="pill" href="#pills-curriculum" role="tab" aria-controls="pills-curriculum" aria-selected="false">Curriculum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-instructor-tab" data-bs-toggle="pill" href="#pills-instructor" role="tab" aria-controls="pills-instructor" aria-selected="false">About Instructor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill" href="#pills-reviews" role="tab" aria-controls="pills-reviews" aria-selected="false">Reviews</a>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                     <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
                     
                       {% include 'course/course-detail/course-overview.html' with course=course %}


                    </div>

                    <div class="tab-pane fade" id="pills-curriculum" role="tabpanel" aria-labelledby="pills-curriculum-tab">
                     {% include 'course/course-detail/course-curriculum.html' with course=course %}
                    </div>

                    <div class="tab-pane fade" id="pills-instructor" role="tabpanel" aria-labelledby="pills-instructor-tab">
                          {% include 'course/course-detail/about-instructor.html' with course=course %}

                    </div>

                    <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                        {% include 'course/course-detail/course-reviews.html' with course=course %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- SIDEBAR FILTER
                ================================================== -->
                {% include 'course/course-detail/course-right-sidebar.html' with course=course %}

            </div>
        </div>

       {% include 'course/course-detail/related-courses.html' with course=course %}
    </div>
 

{% endblock content %}