{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>


    <!-- HERO
    ================================================== -->
   {% include './includes/hero.html' %}

   


    <!-- CATEGORIES
    ================================================== -->
     {% include './includes/categories.html' %}

    <!-- FEATURED PRODUCT
    ================================================== -->
     {% include './includes/featured_course.html' %}

    <!-- EVENTS
    ================================================== -->
    {% include './includes/events.html' %}

    <!-- BLOG
    ================================================== -->
  {% include './includes/blog.html' %}

    <!-- COUNTUP
    ================================================== -->
    {% include './includes/countup.html' %}
    <!-- INSTRUCTORS
    ================================================== -->
   {% include './includes/instructors.html' %}

    <!-- CALL ACTION
    ================================================== -->
   {% include './includes/cta.html' %}
    <!-- FEATURES GENERAL
    ================================================== -->
     {% include './includes/features_general.html' %}
   

</section>
 <!-- FEATURES GENERAL
    ================================================== -->
     {% include './includes/address.html' %}

{% endblock content %}