{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-lg p-4 text-center">

                <h3 class="mb-4">Check Your Email</h3>
                <p class="mb-4">
                    We have sent a password reset link to your email address.
                    Please follow the instructions in the email to reset your password.
                </p>

                <a href="{% url 'login' %}" class="btn btn-primary w-100">Back to Login</a>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
