{% extends 'base.html' %}
{% load static %}
{% block content %}
  
 <div class="container py-5">
   <div class="row align-items-center">
   <div class="col-md-6 mx-auto">
      <div class="card shadow-lg p-4">
      <h5 class="mb-4">Recover Password!</h5>

      <form class="mb-4">
        <!-- Email -->
        <div class="form-group mb-3">
          <label for="forgotEmail">Email</label>
          <input type="email" class="form-control" id="forgotEmail" placeholder="johndoe@creativelayers.com">
        </div>

        <!-- Submit -->
        <button class="btn btn-primary w-100" type="submit">RECOVER PASSWORD</button>
      </form>

      <p class="text-center mb-0">
        Remember your password? <a href="login.html">Log In</a>
      </p>
    </div>
   </div>
   </div>
  </div>
{% endblock content %}