  {% load static %}
    <section class="py-5 py-md-8 bg-light">
      <div class="container container-wd">
        <div class="row align-items-end mb-md-7 mb-4">
          <div class="col-md mb-4 mb-md-0">
            <h1 class="mb-1" data-aos="fade-right" >Trending Categories</h1>
            <p data-aos="fade-right"  class="font-size-lg mb-0 text-capitalize">
              Cum doctus civibus efficiantur in imperdiet deterruisset.
            </p>
          </div>
          <div class="col-md-auto"   data-aos="fade-left"
                    >
            <a
              href="course-list-v6.html"
              class="d-flex align-items-center fw-medium"
            >
              Browse All
              <div class="ms-2 d-flex">
                <!-- Icon -->
                <svg
                  width="10"
                  height="10"
                  viewBox="0 0 10 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.7779 4.6098L3.32777 0.159755C3.22485 0.0567475 3.08745 0 2.94095 0C2.79445 0 2.65705 0.0567475 2.55412 0.159755L2.2264 0.487394C2.01315 0.700889 2.01315 1.04788 2.2264 1.26105L5.96328 4.99793L2.22225 8.73895C2.11933 8.84196 2.0625 8.97928 2.0625 9.1257C2.0625 9.27228 2.11933 9.4096 2.22225 9.51269L2.54998 9.84025C2.65298 9.94325 2.7903 10 2.9368 10C3.0833 10 3.2207 9.94325 3.32363 9.84025L7.7779 5.38614C7.88107 5.2828 7.93774 5.14484 7.93741 4.99817C7.93774 4.85094 7.88107 4.71305 7.7779 4.6098Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </a>
          </div>
        </div>

        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 row-cols-wd-6" data-aos="fade-up" >
          <div class="col mb-md-6 mb-4 px-2 px-md-4">
            <!-- Card -->
            <a
              href="course-list-v6.html"
              class="card bg-white shadow rounded-lg p-md-5 p-3 h-210p text-center lift"
            >
              <!-- Image -->
              <div class="mt-7 text-primary display-4">
                <i class="fas fa-bezier-curve"></i>

                <!-- Footer -->
                <div class="card-footer px-0 pb-0 pt-4">
                  <h5 class="mb-0 line-clamp-2 text-primary">Design</h5>
                </div>
              </div>
            </a>
          </div>
        

          <div class="col mb-md-6 mb-4 px-2 px-md-4">
            <!-- Card -->
            <a
              href="course-list-v6.html"
              class="card bg-white shadow rounded-lg p-md-5 p-3 h-210p text-center lift"
            >
              <!-- Image -->
              <div class="mt-7 text-primary display-4">
                <i class="fas fa-briefcase"></i>

                <!-- Footer -->
                <div class="card-footer px-0 pb-0 pt-4">
                  <h5 class="mb-0 line-clamp-2 text-primary">Business</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col mb-md-6 mb-4 px-2 px-md-4">
            <!-- Card -->
            <a
              href="course-list-v6.html"
              class="card bg-white shadow rounded-lg p-md-5 p-3 h-210p text-center lift"
            >
              <!-- Image -->
              <div class="mt-7 text-primary display-4">
                <i class="fas fa-laptop-code"></i>

                <!-- Footer -->
                <div class="card-footer px-0 pb-0 pt-4">
                  <h5 class="mb-0 line-clamp-2 text-primary">
                    Software Development
                  </h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col mb-md-6 mb-4 px-2 px-md-4">
            <!-- Card -->
            <a
              href="course-list-v6.html"
              class="card bg-white shadow rounded-lg p-md-5 p-3 h-210p text-center lift"
            >
              <!-- Image -->
              <div class="mt-7 text-primary display-4">
                <i class="far fa-file-alt"></i>

                <!-- Footer -->
                <div class="card-footer px-0 pb-0 pt-4">
                  <h5 class="mb-0 line-clamp-2 text-primary">
                    Personal Development
                  </h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col mb-md-6 mb-4 px-2 px-md-4">
            <!-- Card -->
            <a
              href="course-list-v6.html"
              class="card bg-white shadow rounded-lg p-md-5 p-3 h-210p text-center lift"
            >
              <!-- Image -->
              <div class="mt-7 text-primary display-4">
                <i class="fas fa-camera"></i>

                <!-- Footer -->
                <div class="card-footer px-0 pb-0 pt-4">
                  <h5 class="mb-0 line-clamp-2 text-primary">Photography</h5>
                </div>
              </div>
            </a>
          </div>

          <div class="col d-xl-none d-wd-block mb-md-6 mb-4 px-2 px-md-4">
            <!-- Card -->
            <a
              href="course-list-v6.html"
              class="card bg-white shadow rounded-lg p-md-5 p-3 h-210p text-center lift"
            >
              <!-- Image -->
              <div class="mt-7 text-primary display-4">
                <i class="fas fa-music"></i>

                <!-- Footer -->
                <div class="card-footer px-0 pb-0 pt-4">
                  <h5 class="mb-0 line-clamp-2 text-primary">Audio + Music</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>