{% load static %}
<div class="py-5 pt-md-11 bg-light">
        <div class="container">
            <div class="row w-xl-96 mx-xl-auto text-center">
                <div class="col-md-3 mb-6 mb-md-0">
                    <div class="h1"><span data-toggle="countup" data-from="0" data-to="749" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">749</span></div>
                    <p class="font-size-lg fw-medium mb-0">Creative Events</p>
                </div>

                <div class="col-md-3 mb-6 mb-md-0">
                    <div class="h1"><span data-toggle="countup" data-from="0" data-to="853" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">853</span></div>
                    <p class="font-size-lg fw-medium mb-0">Skilled Tutors</p>
                </div>

                <div class="col-md-3 mb-6 mb-md-0">
                    <div class="h1"><span data-toggle="countup" data-from="0" data-to="28" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">28</span>k+</div>
                    <p class="font-size-lg fw-medium mb-0">Online Courses</p>
                </div>

                <div class="col-md-3 mb-6 mb-md-0">
                    <div class="h1"><span data-toggle="countup" data-from="0" data-to="53" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">53</span>k+</div>
                    <p class="font-size-lg fw-medium mb-0">People Worldwide</p>
                </div>
            </div>
        </div>
    </div>